/* Start Main rulez*/
*{
	box-sizing: border-box;
}

/* Start Fonts */
@font-face {
    font-family: 'noticia_textregular';
    src: url('fonts/noticiatext-regular-webfont.woff2') format('woff2'),
         url('fonts/noticiatext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* End Fonts */
body{
	background-color: #efeeed
}
ul{
    margin: 0;
    padding: 0
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* End Main rulez*/

section.login{
    background-color: #FFF;
    width: 34%;
    margin: auto;
    margin-top: 10%;
    padding: 8%;
    border-radius: 10px;
}
section.login h1{
    margin: auto;    
    margin-bottom: 5px;
}
section.login form{
    margin: auto;
}
section.login form input{
    display: block;
    margin: auto;
    margin-bottom: 5px;
    padding: 7px;
    width: 100%;    
}

section.login form button{
    display: block;
    margin: auto;
    margin-bottom: 5px;
    padding: 8px;
    width: 100%;
    background-color: #2785d8;
    color: #FFF;
    border: 0;
    font-size: 26px;
    cursor:pointer;
}
section.admin{
    overflow: hidden;    
}
section.admin .left{
    float: left;
    width: 15%;
    background-color: #cec0a9;
    height: 500px;
    padding: 5px
}
section.admin .left .title{
    background-color: #8e7c5f;
    padding: 5px;
    color: #FFF;
    text-align: center;
}
section.admin .left .cat{

}
section.admin .left .cat ul{
    padding: 15px
}
section.admin .left .cat ul li{

}
section.admin .left .cat ul li i{
    color: #888;
    font-size: 11px;
}
section.admin .left .cat ul li a{
    color: #000
}
section.admin .left .cat ul li a:hover{
    cursor: pointer;
    color: #2878c9;
    text-decoration: underline;
}
section.admin .right{
    float: left;
    width: 85%;
    padding: 20px  
}
section.admin .right form > div{
    padding: 7px;
    width: 60%;

}
section.admin .right form > div > span{
    font-size: 20px;
}
section.admin .right form > div > input[type=text]{
    border:none;
    border-radius: 3px;
    width: 100%;
    padding: 14px
}
section.admin .right form > div > input[type=file]{
    padding: 13px;
    background-color: #7d7db3;
    color: #FFF
}
section.admin .right form > div > textarea{

}
section.admin .right form > div > input[type=submit]{
    background-color: #135d92;
    border: 0;
    padding: 7px;
    color: #FFF;
    font-size: 18px;
}